<div class="container-fluid"  ng-controller="CartController">

    <div class="d-flex justify-content-center bd-highlight mb-3" >

        <div class="p-2 bd-highlight">
            <p style="font-size: 17pt; font-weight:bold; margin-top: 30px; margin-bottom: 40px;" >КОРЗИНА</p>
        </div>
    </div>



    <div id="EmptyCart" class="EmptyCart" ng-if="cart.length === 0">

        <div class="d-flex justify-content-center bd-highlight mb-3">

            <div class="p-2 bd-highlight">

                    <h3 style="margin-left: 380px;">Корзина пуста !</h3>

                <h4 style="margin-left: 380px;">Добавте товар для оформления заказа ! </h4>

                    <a id="buttonProduct" class="img-responsive center-block"  ui-sref="category" >
                        <img class="img-responsive center-block"   alt="Перейти в каталог товаров" ng-src="http://localhost:5012/TexDon/assets/images/othersImages/01final.png" >
                    </a>
            </div>
        </div>

    </div>



    <div id="CartTable" class="CartTable" ng-if="cart.length !== 0">

    <div class="d-flex justify-content-center bd-highlight mb-3">

            <div class="p-2 bd-highlight">

            <h4  class="text-center" style="font-weight:bold; margin-top: -21px !important; margin-bottom: 45px !important;">Список товаров находящихся в корзине:</h4>


                <table cellspacing="0">

                    <thead>

                    <tr align="center" text-align="center" >
                        <th align="center" text-align="center" style="font-weight:bold; font-size: 13pt;">Наименование товара</th>
                        <th align="center" text-align="center" style="font-weight:bold; font-size: 13pt;">Кол-во</th>
                        <th align="center" text-align="center" style="font-weight:bold; font-size: 13pt;" >Цена за 1 ед.</th>
                        <th align="center" text-align="center" style="font-weight:bold; font-size: 13pt;">Сумма</th>
                        <th align="center" text-align="center" style="font-weight:bold; font-size: 13pt;"> </th>

                    </tr>

                    </thead>

                    <tbody id="productsTable">

                     <tr  ng-repeat="pr in cart track by pr.productID ">


                        <td id="productTitle" class="{{ pr.productID }}" style="width: 450px;" > <p style="font-weight:bold; font-size: 13pt;" ng-bind-template="{{pr.productTitle}}"></p> </td>

                        <td align="center" text-align="center">
                            <input id="amount" style="width: 35px; font-weight:bold; text-align:center;"  class="input"  type="text"   ng-model="pr.amountProduct"   ng-change="ChangeProductAmount(pr)">
                        </td>

                        <td id="productPrice" align="center" text-align="center" style="width: 180px;" ><p style="font-weight:bold; font-size: 13pt;"  ng-bind-template="{{pr.productPrice}} руб."></p> </td>

                        <td align="center" text-align="center" style="width: 180px;" ><p id="total"  style="font-weight:bold; font-size: 13pt;" ng-bind-template="{{+pr.amountProduct * +pr.productPrice}}  руб."></p> </td>

                        <td align="center" text-align="center" style="width: 60px;" ng-click="RemoveProduct(pr)"> <div  style="width: 33px; height: 35px;" class="btn btn-danger deleteProduct">Х</div>  </td>


                    </tr>


                    <tr id="summa">
                        <td> </td>
                        <td style="font-weight:bold; font-size: 14pt;">Итого: </td>
                        <td></td>
                        <td id="totalPrice" style="font-weight:bold; font-size: 14pt;"  class="totalPrice" align="center" ng-bind-template="{{ Total.totalPrice }} руб."><b> </b></td>
                        <td></td>
                    </tr>

                    </tbody>


                </table>

        </div>
    </div>



    <div class="d-flex justify-content-center bd-highlight mb-3" style="margin-top: 21px !important;" ng-controller="CartController">

        <div class="p-2 bd-highlight">


        <div  class="col-12">

        <div >
            <label  style="font-size: 12pt" ><b>Введите фамилию и имя </b></label>
            <input class="form-control" type="text"   name="userName" placeholder="Ф.И.О." ng-blur="RegName()"  ng-model="userFirstAndLastName">

            <label ng-if="!regName" style="color: red;" >Вы ввели некорректные данные</label>

        </div>

        <div >
            <label  style="font-size: 12pt"><b>Введите Ваш Email (не обязательное поле для ввода)</b></label>
            <input class="form-control" type="text"  name="Email" placeholder="Email" ng-blur="RegEmail()" ng-model="userEmail" >

            <label ng-if="!regMail" style="color: red;" >Вы ввели некорректные данные</label>

        </div>


        <div>
            <label for="userPhone" style="font-size: 12pt"><b>Введите контактный номер телефона для связи с Вами</b></label>
            <input class="form-control" type="text" id="userPhone" name="userPhone" placeholder="Номер телефона"  ng-model="userContactNumberPhone" >
        </div>


        <div >
            <label for="deliveryAddress" style="font-size: 12pt"><b>Введите адрес куда необходимо произвести доставку товара</b></label>
            <input class="form-control" type="text" id="deliveryAddress"  name="deliveryAddress" placeholder="Адрес"  ng-blur="RegAddress()"  ng-model="deliveryAddressOrder">

            <label ng-if="!regAddress" style="color: red;" >Вы ввели слишком большой адрес или некорректный адрес</label>
        </div>


        <div >
            <label for="commentToTheOrder" style="font-size: 12pt" ><b>Комментарий к заказу (не обязательное поле для ввода)</b></label>
            <textarea  type="text" class="form-control" name="commentToTheOrder" id="commentToTheOrder" placeholder="Сюда можете внести дополнительную информацию" ng-blur="RegComment()" ng-model="commentToTheOrder"></textarea>

            <label ng-if="!regComment" style="color: red;" >Вы ввели слишком большой комментарий или некорректные данные</label>

        </div>


            <div class="d-flex justify-content-center bd-highlight mb-3" >

                <div class="p-2 bd-highlight">
                    <button  class="btn btn-success" ng-click="ConfirmOrder(userFirstAndLastName, userEmail, userContactNumberPhone, deliveryAddressOrder, commentToTheOrder)">Оформить заказ</button>
                </div>


            </div>

    </div>


        </div>

    </div>



     </div>

</div>



