<div class="container-fluid"  ng-controller="CartController" style="margin-top: 70px; margin-bottom: 100px;">

    <div class="d-flex justify-content-center bd-highlight mb-3" >

        <div class="p-2 bd-highlight">
            <p style="font-size: 17pt; font-weight:bold; margin-top: 30px;" >Заказ оформлен и принят на выполнение ! </p>
            <p style="font-size: 17pt; font-weight:bold; margin-bottom: 40px;" >Спасибо за то, что выбрали наш магазин. </p>
           <!-- <p style="font-size: 17pt; font-weight:bold; margin-top: 30px; margin-bottom: 40px;" ng-bind="text"> </p> -- >

        </div>
    </div>
</div>

