#searchInput {
  width: 415px;
}

#siteLogo{
  margin-left: 10px;
}

.logo{

  color: #FE5B00;
  font-size: 16pt;
  font-weight:bold;

}

a {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

body{
background: #FE5B00 !important;

}

#content{
    background: #FE5B00 !important;
}

main{
  background: #FE5B00 ;
}

.sl_slide{
  position: relative;
}

.sl_text{
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 20px 0;
}

.sl_zag, .sl_date{
  margin: 0;
  padding: 0 10px;
}

/*
.carousel-control-next-icon, .carousel-control-prev-icon {
  height: 90px;
  width: 90px;
}
*/

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#menu{
  margin-left: 20px;
}

#content{
  /* margin-top: 60px;
 margin-left: 60px;
  margin-right: 10px;
  margin-bottom: 100px;*/
}


#firmInfoText{
  margin-top: 50px;
}


#buttonProduct{
  margin-top: 40px;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  boder: 0;
}

table td {
  padding-top: 10px;
  padding-left: 20px;
  margin: 0px;

}


#footer{
  margin-top: 200px;

}
