
<footer>

<div id="footer" class="bd-example">


                <div class="d-flex justify-content-center bd-highlight mb-3" >

                    <div class="p-2 bd-highlight">
                        <p style="font-size: 14pt; font-weight:bold; margin-top: 3px;" >Мы ВКонтакте и Facebook :</p>
                    </div>

                    <div class="p-2 bd-highlight">
                        <a href="https://vk.com" >
                        <img style="width:40px; height:40px;" alt="Мы ВКонтакте" ng-src="http://localhost:5012/TexDon/assets/images/othersImages/vkontakte.png" >
                        </a>
                    </div>

                    <div class="p-2 bd-highlight">
                        <a  href="https://vk.com">
                            <img  style="width:38px; height:38px;" alt="Наш Facebook" ng-src="http://localhost:5012/TexDon/assets/images/othersImages/facebook.png" >
                         </a>
                    </div>


                </div>



                <div class="d-flex justify-content-center bd-highlight mb-3" >

                    <div class="p-2 bd-highlight">
                        <p>Интернет магазин TexDon.com. (ДНР, г.Донецк)</p>
                    </div>

                    <div class="p-2 bd-highlight">
                        <p style="margin-left: 10px;">Copyright © 2019. Все права защищены.</p>
                    </div>

                </div>




</div>


</footer>
