<header>

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a id="siteLogo" class="navbar-brand mr-auto mr-lg-0" ng-href="http://localhost:5012/TexDonProduction/public">TexDon.com </a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="menu1" class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" ng-href="http://localhost:5012/TexDonProduction/public">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" ui-sref="category">Каталог товаров</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">Новости и Акции</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="#">Контакты</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input id="searchInput" class="form-control mr-sm-2" type="text" placeholder="Введите название товара и нажмите кнопку Поиск" aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Поиск</button>
            </form>
        </div>
    </nav>


    <div  class="nav-scroller bg-white shadow-sm">
        <nav id="menu2" class="nav nav-underline">

            <a class="nav-link active" href="#">Условия Оплаты и Доставки</a>

            <a class="nav-link active" href="#"> Корзина
                <span class="badge badge-pill bg-light align-text-bottom">+3</span>
            </a>

            <a class="nav-link active" href="https://vk"><i class="fa fa-vk"></i> <span class="hidden-xs hidden-sm hidden-md">Мы ВКонтакте</span></a>

            <a class="nav-link active" href="https://facebook"><i class="fa fa-vk"></i> <span class="hidden-xs hidden-sm hidden-md">Наш Facebook</span></a>

        </nav>
    </div>





</header>