<header>

        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <a id="siteLogo" class="navbar-brand mr-auto mr-lg-0" ng-href="http://localhost:5012/TexDonProduction/public"><span class="logo">TexDon</span></a>
            <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul id="menu" class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" ui-sref="home">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" ui-sref="category">Каталог товаров</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" ui-sref="news">Новости и Акции</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" ui-sref="contacts">Контакты</a>
                </li>

                    <li class="nav-item ">
                        <a id="cart2" class="nav-link" ui-sref="cart">Корзина
                            <span class="badge badge-pill badge-warning align-text-bottom">3</span>
                        </a>

                    </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input id="searchInput" class="form-control mr-sm-2" type="text" placeholder="Введите название товара и нажмите Поиск" aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Поиск</button>
            </form>
        </div>
    </nav>



<nav>

    <div class="d-flex justify-content-center bd-highlight mb-3" style=" margin-top: 60px;">

        <div class="p-2 bd-highlight">

    <div >
        <a id="cart" ui-sref="cart" data-loading-text="Загрузка..." >
            <img style="width:80px; height:80px;" alt="Корзина" ng-src="http://localhost:5012/TexDon/assets/images/othersImages/cart.png" >
            <span style="width:38px; height:37px; font-size: 17pt; font-weight:bold;" class="badge badge-pill badge-warning align-text-bottom">3</span>
        </a>
    </div>


        </div>
    </div>

</nav>


<!--
    <ng-owl-carousel class="owl-theme" owl-items="items" owl-properties="properties" owl-ready="ready($api)">
        <div class="item"><h4>Free Item</h4></div>
        <div class="item" data-ng-repeat="item in newsSingle">
            <img ng-src="{{ item.imagePath1 }}">
        </div>
    </ng-owl-carousel>

-->

    <!--
        <nav>

            <div class="d-flex justify-content-center bd-highlight mb-3" style=" margin-top: 60px;">

                <div class="p-2 bd-highlight">


                    <div class="sl" data-ng-repeat="item in newsSingle">
                        <div class="sl_slide">
                           <a ui-sref="moreAboutNews({id: item.newsID})" id="{{ item.newsID }}">
                            <img ng-src="{{ item.imagePath1 }}" alt="{{single.titleNews}}" class="sl_img">
                            <div class="sl_text">
                                <h3 class="sl_zag" ng-bind="item.titleNews"></h3>
                                <p class="sl_date" ng-bind="item.dateNews"></p>
                            </div>
                            </a>
                        </div>
                    </div>


                </div>

            </div>

        </nav>
    -->




            <div class="owl-carousel owl-theme" data-ng-repeat="item in newsSingle">
                <div class="item">
                    <a ui-sref="moreAboutNews({id: item.newsID})" id="{{ item.newsID }}">
                        <img ng-src="{{ item.imagePath1 }}" alt="{{single.titleNews}}" class="sl_img">
                    </a>
                </div>
            </div>





    </header>