


<div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" >
        <div class="carousel-item active" ng-repeat="singleNews in news">
            <img class="d-block w-100" ng-src="{{singleNews.imagePath1}}" alt="singleNews.titleNews"  id="{{singleNews.newsID}}" >
        </div>

    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



<div id="content" >

    <div class="form-group">
        <a id="imagePath" class="btn" href="#" >
            <img class="img-fluid" style="width:300px;height: 200px" ng-src="{{firmInfo.data.imagePath1}}" >
        </a>
    </div>


    <p ng-bind="firmInfo.data.text"></p>

    <div id="buttonProduct" >
        <a class="btn btn-success" ui-sref="category">Перейти к каталогу товаров</a>
    </div>

</div>