
<div class="container-fluid">


<div class="d-flex justify-content-center bd-highlight mb-3" >

    <div class="p-2 bd-highlight">
        <p style="font-size: 17pt; font-weight:bold; margin-top: 30px; margin-bottom: 40px;"  id="{{subcategory[0].categoryID}}" ng-bind="subcategory[0].categoryTitle" ></p>
    </div>

</div>


    <div class="container-fluid">

        <div class="row justify-content-center">

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" ng-repeat="subcat in  subcategory">



        <a class="btn" ui-sref="product({id: subcat.subcategoryID})" id="{{subcat.subcategoryID}}" >
            <img ng-src="{{subcat.subcategoryImagePath}}" alt="{{subcat.subcategoryTitle}}" class="img-fluid" style="width:250px; height:200px" >
            <h6 style="text-align: center; font-size: 14pt; font-weight:bold" ng-bind="subcat.subcategoryTitle"></h6>
        </a>



            </div>

        </div>

    </div>

</div>