
<div class="container-fluid" style="margin-bottom: 50px !important;">


    <div class="d-flex justify-content-center bd-highlight mb-3" >

        <div class="p-2 bd-highlight">
            <p style="font-size: 17pt; font-weight:bold; margin-top: 30px; margin-bottom: 40px;" >Результат поиска</p>
        </div>
    </div>


    <div class="row justify-content-center">

        <h3 style="text-align: center; font-size: 16pt; font-weight:bold; margin-bottom: 200px; padding-bottom: 200px;"  ng-if="productsList.length === 0">По вашему запросу ничего не найдено ! Попробуйте ввести другое название товара.</h3>


        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" ng-if="productsList.length !== 0"  ng-repeat="pr in productsList" >


            <a class="btn" ui-sref="moreAboutProduct({id: pr.productID})" id="{{ pr.productID }}" >
                <img ng-src="{{pr.images[0].productImagePath}}" alt="{{pr.productTitle}}" class="img-fluid" style="width:200px; height:200px" >
                <h6 ng-bind="pr.productTitle"></h6>


                <p style="text-align: center; font-size: 16pt; font-weight:bold" ng-bind="pr.productPrice +' руб.'"> </p>
            </a>

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <a  ng-click="AddProductToCart(pr)"  style="margin-top: 2px" ng-if="pr.isInCart === false" class="btn btn-success col-12" >В корзину</a>
            <a style="margin-top: 2px" ng-if="pr.isInCart" class="btn btn-success col-12" >Товар в корзине!</a>
            </div>

        </div>

    </div>



</div>
