
<div class="container-fluid" >


    <div class="d-flex justify-content-center bd-highlight mb-3" >

        <div class="p-2 bd-highlight">
            <h5 style="text-align: center; font-size: 14pt; font-weight:bold; margin-top: 30px;" ng-bind="singleProduct.product.productTitle"></h5>
        </div>

    </div>



    <div class="d-flex justify-content-center bd-highlight mb-3" >

        <div class="p-2 bd-highlight">
            <h5 style="text-align: center; font-size: 16pt; font-weight:bold" ng-bind="'Цена  ' + singleProduct.product.productPrice +'  руб.'"></h5>
        </div>

    </div>




    <div class="d-flex justify-content-center bd-highlight mb-3" >

        <div class="p-2 bd-highlight">
            <a  class="btn btn-success " ng-click="AddProductToCart(singleProduct.product)" ng-if="singleProduct.isInCart === false" >В корзину</a>
        </div>

        <div class="p-2 bd-highlight">
            <a  class="btn btn-success"  ng-if="singleProduct.isInCart ">Товар в корзине!</a>
        </div>

          <!--
        <div class="p-2 bd-highlight" ng-show="!singleProduct.isInCart">
            <div  class="btn btn-success " ng-click="AddProductToCart(singleProduct.product)" >В корзину</div>
        </div>


        <div class="p-2 bd-highlight" ng-show="singleProduct.isInCart">
            <div  class="btn btn-success" >Товар в корзине!</div>
        </div>

       -->


    </div>



    <div class="d-flex justify-content-center bd-highlight mb-3" >

        <div class="p-2 bd-highlight">
            <h5 style="font-size: 14pt; font-weight:bold; margin-top: 10px;">ОПИСАНИЕ ТОВАРА</h5>
        </div>

    </div>


        <p ng-bind="singleProduct.product.productDescription"></p>



        <p class="lead mt-4 mb-2 text-center" style="font-size: 14pt; font-weight:bold; margin-top: 10px;">ХАРАКТЕРИСТИКИ</p>

        <div class="table-responsive">
            <table class="table table-striped table-sm">

                <tbody>

                <tr ng-repeat="item in singleProduct.attributes" >

                    <td ng-bind="item.attributeTitle"> </td>
                    <td ng-bind="item.value"> </td>

                </tr>

                </tbody>
            </table>




            <p class="lead mt-4 mb-2 text-center" style="font-size: 14pt; font-weight:bold; margin-top: 10px;">ИЗОБРАЖЕНИЯ ТОВАРА</p>


            <div ng-repeat="item in singleProduct.images">

                <img class="img-thumbnail float-left"  ng-src="{{ item.productImagePath }}" alt=""  style="width:300px; margin-left: 5px; margin-top: 5px; margin-bottom: 15px">

            </div>





        </div>

</div>