
<div class="container-fluid" >



    <div id="sidebar">


    <div class="d-flex justify-content-center bd-highlight mb-3" >

        <div class="p-2 bd-highlight">
            <p style="font-size: 17pt; font-weight:bold; margin-top: 30px; margin-bottom: 40px; margin-left: 25px;" id="{{ products[0].subcategoryID}}" ng-bind=" products[0].subcategoryTitle" ></p>
        </div>

    </div>


        <div id="productsRow" class="row" >

            <div class="col-md-4 col-lg-4 col-sm-12" ng-repeat="pr in products" >


                <a class="btn" ui-sref="moreAboutProduct({id: pr.productID})" id="{{ pr.productID }}" >
                    <img ng-src="{{pr.images[0].productImagePath}}" alt="{{pr.productTitle}}" class="img-fluid" style="width:200px; height:200px" >
                     <h6 ng-bind="pr.productTitle"></h6>


                 <p style="text-align: center; font-size: 16pt; font-weight:bold" ng-bind="pr.productPrice +' руб.'"> </p>
                 </a>


                <div class="d-flex justify-content-center bd-highlight mb-3" >

                    <div class="p-2 bd-highlight">


                        <a  ng-click="AddProductToCart(pr)"  style="margin-top: 2px;  margin-bottom: 15px; width: 160px;" ng-if="pr.isInCart === false" class="btn btn-success">В корзину</a>
                        <a style="margin-top: 2px; margin-bottom: 15px; width: 180px;" ng-if="pr.isInCart " class="btn btn-success" ui-sref=" ">Товар в корзине!</a>



                    </div>


                </div>
            </div>

        </div>



    <div class="d-flex justify-content-center bd-highlight mb-3" style="margin-top: 30px;" >

        <div ng-if="offset <= products.length" class="p-2 bd-highlight">
            <button ng-click="getMoreProducts()"  class="btn btn-primary"> Показать ещё </button>
        </div>
    </div>


    </div>

</div>