


<div class="d-flex justify-content-center bd-highlight mb-3" >

    <div class="p-2 bd-highlight">
        <p style="font-size: 17pt; font-weight:bold; margin-top: 30px; margin-bottom: 40px;" >КОНТАКТЫ</p>
    </div>
</div>



<div class="d-flex justify-content-center bd-highlight mb-3">

    <div class="p-2 bd-highlight">

    <table cellspacing="0" >



        <tr>
            <td  style="font-size: 13pt; font-weight:bold">Email</td>
            <td  style="font-size: 12pt;" ng-bind="contact.data.email"></td>
        </tr>

        <tr>
            <td style="font-size: 13pt; font-weight:bold">Skype </td>
            <td  style="font-size: 12pt;" ng-bind="contact.data.skype"></td>
        </tr>

        <tr>
            <td style="font-size: 13pt; font-weight:bold">Viber </td>
            <td  style="font-size: 12pt;" ng-bind="contact.data.viber"></td>
        </tr>

        <tr>
            <td style="font-size: 13pt; font-weight:bold">Городской номер </td>
            <td  style="font-size: 12pt;" ng-bind="contact.data.phone1"></td>
        </tr>


        <tr>
            <td style="font-size: 13pt; font-weight:bold">Мобильный номер оператора №1 </td>
            <td  style="font-size: 12pt;" ng-bind="contact.data.phone2"></td>
        </tr>

        <tr>
            <td style="font-size: 13pt; font-weight:bold">Мобильный номер оператора №2 </td>
            <td  style="font-size: 12pt;" ng-bind="contact.data.phone3"></td>
        </tr>


        <tr>
            <td style="font-size: 13pt; font-weight:bold">Номер для предложений о сотрудничестве</td>
            <td  style="font-size: 12pt;" ng-bind="contact.data.phone4"></td>
        </tr>


    </table>

    </div>
</div>