

<div id="content" class="center-block">



    <div class="d-flex justify-content-center bd-highlight mb-3">

        <div class="p-2 bd-highlight">

                  <img class="img-responsive center-block" style=" margin-top: 20px;" ng-src="{{ SingleNews.data.imagePath1 }}" >

        </div>
    </div>


    <div class="d-flex justify-content-center bd-highlight mb-3">

        <div class="p-2 bd-highlight">


               <h6  class="img-responsive center-block" style="text-align: center; font-size: 14pt; font-weight:bold;  margin-top: 25px; " ng-bind="SingleNews.data.titleNews"> </h6>


        </div>
    </div>


    <div class="d-flex justify-content-center bd-highlight mb-3">

        <div class="p-2 bd-highlight">

                 <h6 class="img-responsive center-block"  style="text-align: center; font-size: 11pt; font-weight:bold" ng-bind="'Опубликовано: ' + SingleNews.data.dateNews"> </h6>

        </div>
    </div>


    <div class="d-flex justify-content-center bd-highlight mb-3">

        <div class="p-2 bd-highlight">


                     <p class="img-responsive center-block" style=" margin-top: 25px;" ng-bind="SingleNews.data.textNews"> </p>


        </div>
    </div>




    <div class="d-flex justify-content-center bd-highlight mb-3">

        <div class="p-2 bd-highlight">

                 <img  ng-if="SingleNews.data.imagePath2 !== null "  class="img-responsive center-block" style=" margin-top: 25px; " ng-src="{{ SingleNews.data.imagePath2 }}" >

        </div>
    </div>



</div>
